<% product = variant.product
  if product.assembly? %>
<ul class='assembly_parts'>
  <% product.parts.each do |part| %>
  <li>(<%= product.count_of(part) %>)  <%= link_to part.name, product_path(part) %>  (<%= part.sku %>)</li>
  <% end %>
</ul>
<% end %>


